@media (max-width: 1220px) {
    .form {
        width: 80%;
    }
    .right h1 {
        font-size: 4rem;
    }
    .right:hover h2 {
        bottom: 8.5%;
    }
}
@media (max-width: 1030px) {
    .left{
        width: 40%;
        height: 100%;
        gap: 2rem;
        justify-content: flex-start;
    }
    .right:hover h2{
        bottom: 4.5%;
    }
}
@media (max-width: 768px) {
    .container{
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 35%;
        gap: 2rem;
    }
    .left h1{
        margin-bottom: 0;
    }
    .details{
        gap: 1rem;
    }
    .right{
        width: 100%;
    }
    .right h2{
        z-index: -10;
    }
    .right:hover h2{
        bottom: 8%;
        z-index: 1;
    }
}

@media (max-width:520px) {
    .form{
        width: 95%;
    }
    .right h1{
        font-size: 3rem;
    }
    .right h2{
        bottom: 8%;
        font-size: 1.6rem;
        z-index: 1;
    }
    .right:hover h2{
        bottom: 8%;
    }

    .right button{
        width: 30%;
    }
}
